head,body{
    background-color: black;
    color:white;
    text-align:justify;
    text-align-last: none;

}
h1 {
    font-weight: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-decoration: underline;
    color:rgb(5, 253, 17);
}

h2,h3,h4,h5,h6{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color:rgb(5, 253, 17);}

p{
    text-align:justify;
    margin-right:20%
 }
a{
    color:rgb(5, 253, 17);;
    text-decoration: none;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

table{
    border-color: white;
    border-style: solid;
    border-width: 2px;
   }
tr,td{
     margin:2%;
     border-color: white;
    border-style: solid;
    border-width: 1px;
}
